


#nav-bar-main {
    
    justify-content: center;  
}

.navbar h1 {
    color: white;
}

.extened-weather-main-body {

    display: flex;
}


.extended-weather-body {

    border: solid blue 2px;
    margin: 1%;
    
    background-color: #0275d8 ;
    color: white;
   

}

.extended-weather-body h4 {
    padding-left: 2%;

}

.my-style {
    color: white;
    background-color: #0275d8;
    border: solid blue 2px;
    margin: 1%;
    
}


#button-container {
    padding-top: 4%;
}


.extended-weather-ul li {

list-style-type: none;
}

.my-style li {

list-style-type: none;
}

.moderate-uv {
    background: rgb(255, 187, 0);
}

.low-uv {
    background-color: rgb(0, 97, 0);
}

.high-uv {
    background: rgb(134, 2, 2);
}